[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/scala"]
	path = .vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/idris-vim"]
	path = .vim/bundle/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim/bundle/elm-vim"]
	path = .vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/copilot"]
	path = .vim/bundle/copilot
	url = https://github.com/github/copilot.vim.git
[submodule ".zsh/spaceship"]
	path = .zsh/spaceship
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule ".vim/bundle/vim-colors-xcode"]
	path = .vim/bundle/vim-colors-xcode
	url = https://github.com/lunacookies/vim-colors-xcode.git
[submodule ".vim/bundle/material"]
	path = .vim/bundle/material
	url = https://github.com/marko-cerovac/material.nvim.git
