[submodule ".antidote"]
	path = .antidote
	url = https://github.com/mattmc3/antidote.git
[submodule ".config/spicetify/Themes"]
	path = .config/spicetify/Themes
	url = https://github.com/spicetify/spicetify-themes.git
